@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#content {
    text-align: center;
    font-family: 'Raleway';
    margin-bottom: 2rem;
}

.nav-list {
    text-align: center;
    margin: 10px 0;
}

.nav-list > button {
    padding: 10px;
    outline: none;
    border: 1px solid #728eda;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
}

.home-img {
    width: 100%;
    height: auto;
    max-height: 725px;
}