@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#content {
    text-align: center;
    font-family: 'Raleway';
    line-height: 1.5;
    margin-bottom: 3.5rem;
}

.nav-list {
    text-align: center;
    margin: 10px 0;
}

.nav-list > button {
    padding: 10px;
    outline: none;
    border: 1px solid #728eda;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
}

.nav-list > button.active {
    background-color: rgba(161, 84, 84, 0.623);
    color: #eee;
}

h1, h2 {
    font-family: 'Montserrant';
    margin-bottom: 5px;
    line-height: 1.15;
}

h1 {
    width: 85%;
    max-width: 825px;
    margin: 0 auto;
}

p {
    width: 90%;
    max-width: 1085px;
    margin: 5px auto;
}

.home-img {
    width: 100%;
    height: auto;
    max-height: 700px;
    margin-bottom: 16px;
}
.div-two, .div-three {
    margin-top: 16px;
}