@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#content {
    text-align: center;
    font-family: 'Raleway';
    line-height: 1.5;
    margin-bottom: 3.5rem;
}

.nav-list {
    text-align: center;
    margin: 10px 0;
}

.nav-list > button {
    padding: 10px;
    outline: none;
    border: 2px solid rgba(182, 32, 32, 0.623);
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-style: inherit;
}

.nav-list > button.active {
    background-color: rgba(161, 84, 84, 0.623);
    color: white;
}

h1, h2 {
    font-family: 'Montserrant';
    margin-bottom: 5px;
    line-height: 1.15;
}

h1 {
    width: 85%;
    max-width: 750px;
    margin: 0 auto;
}

p {
    width: 90%;
    max-width: 850px;
    margin: .75rem auto .25rem;
    font-size: 1.15rem;
}

.home-img {
    width: 100%;
    height: auto;
    max-height: 700px;
    margin-bottom: 2rem;
}
.div-two, .div-three {
    margin-top: 2.5rem;
}

.parent-div {
    margin: 1rem 0;
    padding-bottom: .75rem;
    border-bottom: 1px solid black;
}

ul > li {
    font-size: 1.1rem;
    width: 90%;
    max-width: 850px;
    margin: .5rem auto 0;
    list-style: none;
}